@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
  background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/foodbg.png");
  height: 100vh;
  background-size: cover;
}

.food-card {
  background-color: #f6c56e;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 20px;
}

.food-heading {
  font-family: "Bree serif";
  color: #323f4b;
  font-size: 30px;
}

.food-paragraph {
  font-family: "Roboto";
  font-weight: 509;
  width: 80%;
  font-size: 15px;
  color: #323f4b;
}

.button {
  color: #323f4b;
  font-size: 14px;
  height: 36px;
  width: 136px;
  border-radius: 8px;
  border-width: 0px;
  background-color: #ffffff;
  font-family: "Roboto";
}
